<div class="row">
  <div class="col-md-12">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-9">
          <%= post.title %>
        </div>
        <div class="col-md-3">
          <%= post.created_at %>
        </div>
      </div>
    <% end %>
  </div>
</div>
