<div class="row">
  <div class="col-md-12">
    <h1 class="float-left">New Post</h1>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', resource: @post %>
  </div>
</div>

